<div class="Main">
    <h1 class="focus-in-expand">Bem Vindo á Omega Prints</h1>

    <small>Veja nossos produtos:</small>

    <div class="cardsHolder">

        <mat-card>
            <mat-card-header>Canecas</mat-card-header>
            <img src="./assets/caneca.jpg">
            <mat-card-footer><button class="saber" mat-raised-button routerLink="/produtos/canecas">Saiba Mais</button>
            </mat-card-footer>
        </mat-card>

        <mat-card>
            <mat-card-header>Camisetas</mat-card-header>
            <img src="./assets/camiseta.jpg" alt="">
            <mat-card-footer><button class="saber" mat-raised-button routerLink="/produtos/camisetas">Saiba
                    Mais</button></mat-card-footer>
        </mat-card>

        <mat-card>
            <mat-card-header>Azulejos</mat-card-header>
            <img src="./assets/azulejo-estampado.jpg" alt="">
            <mat-card-footer><button class="saber" mat-raised-button routerLink="/produtos/azulejos">Saiba Mais</button>
            </mat-card-footer>
        </mat-card>

        <mat-card>
            <mat-card-header>Almofadas</mat-card-header>
            <img src="./assets/almofada.jpg" alt="">
            <mat-card-footer><button class="saber" mat-raised-button routerLink="/produtos/almofadas">Saiba
                    Mais</button></mat-card-footer>
        </mat-card>

        <mat-card>
            <mat-card-header>Chinelos</mat-card-header>
            <img src="./assets/chinelo.jpg">
            <mat-card-footer><button class="saber" mat-raised-button routerLink="/produtos/chinelos">Saiba Mais</button>
            </mat-card-footer>
        </mat-card>
    </div>

</div>