mat-card, mat-card-content {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    position: fixed;
}

.itensMenu {
    display: flex;
    justify-content: space-around;
}


.menu {
    background-color: black;
    color: white;
    padding: 20px;
    width: 10%;
}

.imgHolder {
    display: flex;
    justify-content: center;
    background-color: black;
}

.menuItem:hover {
    background-color:rgb(80,10,30);
    animation-duration: 3000;
}

i.pi-bars {
    width: 10% !important;
}

.fade-in {
    width: 40%;
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }