mat-card, mat-card-content {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    position: fixed;
}

.itensMenu {
    display: flex;
    justify-content: space-around;
}


.menu {
    background-color: black;
    color: white;
    padding: 20px;
    width: 10%;
}

.imgHolder {
    display: flex;
    justify-content: center;
    background-color: black;
}

.menuItem:hover {
    background-color:rgb(80,10,30);
    animation-duration: 3000;
}

i.pi-bars {
    width: 10% !important;
}
