<mat-card>
    <mat-card-content>

        <button mat-raised-button [matMenuTriggerFor]="menu"><i class="pi pi-bars"></i></button>

        <mat-menu class="menu" #menu="matMenu">
            <button mat-menu-item routerLink="/produtos/camisetas"><strong>Camisetas</strong></button>
            <button mat-menu-item routerLink="/produtos/canecas"><strong>Canecas</strong></button>
            <button mat-menu-item routerLink="/produtos/chinelos"><strong>Chinelos</strong></button>
            <button mat-menu-item routerLink="/produtos/azulejos"><strong>Azulejos</strong></button>
            <button mat-menu-item routerLink="/produtos/almofadas"><strong>Almofadas</strong></button>
        </mat-menu>
    </mat-card-content>
</mat-card>



<div class="imgHolder">

    <img class="fade-in" src="./assets/gowLogo.png" alt="">
</div>