<mat-card>
    <mat-card-content>

        <div class="itensMenu">
            <button mat-raised-button class="menuItem" routerLink="/produtos/camisetas"><strong>Camisetas</strong></button>
            <button mat-raised-button class="menuItem" routerLink="/produtos/canecas"><strong>Canecas</strong></button>
            <button mat-raised-button class="menuItem" routerLink="/produtos/chinelos"><strong>Chinelos</strong></button>
            <button mat-raised-button class="menuItem" routerLink="/produtos/azulejos"><strong>Azulejos</strong></button>
            <button mat-raised-button class="menuItem" routerLink="/produtos/almofadas"><strong>Almofadas</strong></button>

        </div>
    </mat-card-content>
</mat-card>



<div class="imgHolder">

    <img class="fade-in" src="./assets/gowLogo.png" alt="">
</div>